<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>Christian WHO!</h1>
		<p>UN GRUPO INTERNACIONAL DE PARKOUR Y DE WH QUESTIONS</p>
	</div>

	<div class="menu">
		<a href="index.html">WHO!</a>
        <a href="index2.html">Christian WHO</a>
        <a href="index3.html">Cristian WHO</a>
		<a href="index4.html">Abel WHO</a>
	</div>

	<div class="contenido">
		<div class="izquierda">
			<div class="item">
			 <h2>¿Quien es Christian?</h2>
			 <h3>Soy un estudiante del CETis 107, amante del parkour y de la actividad física, como calistenia o gimnacio</h3>
			 <img src="yop.jpg" alt="" class="imagen">
			</div>
		</div>

		<div class="derecha">
			<div class="item">
				<h2>Participantes</h2>
				<h3>-Christian Flores Parra <br>
				-Cristian Escobar Perez <br>
			    -Abel Omar Arce Nomeacuerdo
			</h3>
				<img src="parkour" alt="" width="100px">
			</div>
		</div>
	</div>
	<div class="footer">
		<h2>&copy; 2019</h2>
	</div>

</body>
</html>